<h1>New Message</h1>

<%= form_for @message do |f| %>
  <%= f.hidden_field :challenge_id %>
  <div><label>To</label><%= f.text_field :recipient_username %></div>
  <div><label>Subject</label><%= f.text_field :subject %></div>
  <div><label>Message</label><%= f.text_area :body %></div>
  <div><%= f.submit 'Send' %></label>
<% end %>