<h1>Sign up</h1>

<%= form_for @user do |f| %>
  <div><label>Email</label><%= f.text_field :email %></div>
  <div><label>Password</label><%= f.password_field :password %></div>
  <div><%= f.submit 'Sign up' %> or <%= link_to 'Log in', :new_session %></div>
<% end %>