<h1><%= @user.name %> (<%= @user.username %>)</h1>

<% if logged_in? and @user != current_user %>
  <%= link_to 'Send a message', new_message_path(:recipient => @user.username) %>
<% end %>

<p><%= @user.profile.bio %></p>

<% if @user.profile.website.present? %>
  Website: <%= link_to @user.profile.website, @user.profile.website %>
<% end %>

<% if @user.profile.twitter.present? %>
  Twitter: <%= link_to @user.profile.twitter, "http://twitter.com/#{@user.profile.twitter.gsub(/^@/, '')}" %>
<% end %>

<h2>Challenges attempted</h2>

<% @user.attempts.each do |attempt| %>
  <div>
    <%= link_to attempt.challenge.title, attempt.challenge %> 
    <% if @user == current_user and attempt.challenge.open? %>
      <%= link_to 'Edit your entry', edit_challenge_attempt_path(attempt.challenge, attempt) %>
      
    <% end %>
  </div>
<% end %>