<% if @featured_challenge %>
  <h1><%= link_to @featured_challenge.title, @featured_challenge %></h1>
  <div class="byline">by <%= link_to @featured_challenge.user.username, @featured_challenge.user %> <%= @featured_challenge.days_remaining %> days remaining</div>
  <p><%= @featured_challenge.abstract %></p>
<% end %>

<h2>Active Challenges</h2>

<% @active_challenges.each do |challenge| %>
  <div><%= link_to challenge.title, challenge %> Ends on <%= challenge.ends_at.to_date.to_s(:long) %></div>
<% end %>

<h2>Past Challenges</h2>

<% @past_challenges.each do |challenge| %>
  <div><%= link_to challenge.title, challenge %> <%= challenge.ends_at.to_date.to_s(:long) %></div>
<% end %>