<% if challenges.present? %>

  <table width="100%">
    <tr>
      <th>Challenge Title</th>
      <th>Source</th>
      <th>Creator</th>
      <th>State</th>
      <th>Duration</th>
      <th>Ends</th>
      <th>&nbsp;</th>
    </tr>
    <% challenges.each do |challenge| %>
      <tr>
        <td><%= link_to challenge.title, [:admin, challenge] %></td>
        <td><%= challenge.source %></td>
        <td><%= link_to challenge.user.username, [:admin, challenge.user] %></td>
        <td><%= challenge.state.upcase %></td>
        <td><%= challenge.duration.name %></td>
        <td>
          <% if challenge.active? %>
            <%= challenge.ends_at.to_date.to_s(:long) %></td>
          <% else %>
            -
          <% end %>
        <td>
          <% unless challenge.active? %>
            <%= link_to 'activate', activate_admin_challenge_path(challenge), :method => :post %>  
          <% end %>
          <%= link_to 'edit', edit_admin_challenge_path(challenge) %>
          <% unless challenge.feature? %><%= link_to 'feature', feature_admin_challenge_path(challenge), :method => :post %><% end %>
        </td>
      </tr>
    <% end %>
  </table>
  
<% else %>
  <i>There are currently no challenges</i>
<% end %>