<h2>Reviewers</h2>

<div>
  <p>
    Pending review: 
    <% @challenge.reviews.pending.collect{|x| x.user }.each do |reviewer| %>
      <%= link_to reviewer.name, [:admin, reviewer] %>
    <% end %>
  </p>
  <p>
    Completed review:
    <% @challenge.reviews.complete.collect{|x| x.user }.each do |reviewer| %>
      <%= link_to reviewer.name, [:admin, reviewer] %>
    <% end %>
  </p>
</div>

<%= link_to 'Assign reviewers', '#', :onclick => "$('#assign-reviewers').toggle(); return false;" %>

<div style="display:none" id="assign-reviewers">
  <%= form_tag assign_reviewers_admin_challenge_path(@challenge) do %>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Pending Reviews</th>
        <th>&nbsp;</th>
      </tr>
      <% (User.reviewers - @challenge.reviewers).sort{|x| x.reviews.pending.count}.each do |reviewer| %>
        <tr>
          <td><%= link_to reviewer.name, [:admin, reviewer] %> (<%= reviewer.username %>)</td>
          <td><%= reviewer.reviews.pending.count %></td>
          <td><%= check_box_tag 'user_id[]', reviewer.id, @challenge.reviewers.include?(reviewer) %></td>
        </tr>
      <% end %>
    </table>
    <%= submit_tag 'Assign' %>
  <% end %>
</div>