<%= render :partial => 'nav' %>

<h1><%= @challenge.title %> [<%= @challenge.state %>]</h1>

<p>
  by <%= link_to @challenge.user.username, [:admin, @challenge.user] %> 
  <% if @challenge.active? %>** FOR TESTING ** <%= link_to 'GO TO REVIEW', review_admin_challenge_path(@challenge), :method => :post %><% end %>
</p>

<% if @challenge.attempts.present? %>
  <%= link_to 'Message all entrants', new_message_path(:recipient => @challenge.attempts.collect{|x| x.user.username}.join(','), :challenge_id => @challenge.id) %>
<% end %>

<%= render :partial => 'state_active' if @challenge.active? %>
<%= render :partial => 'state_reviewing' if @challenge.in_review? %>
<%= render :partial => 'state_judging' if @challenge.in_judge? %>
<%= render :partial => 'state_finished' if @challenge.finished? %>
