<%= render :partial => 'nav' %>

<h1><%= @challenge.title %> [<%= @challenge.state %>]</h1>

<p>by <%= link_to @challenge.user.username, [:admin, @challenge.user] %></p>

<h2>Challenge attempts</h2>

<% if @challenge.attempts.present? %>
  <%= link_to 'Message all entrants', new_message_path(:recipient => @challenge.attempts.collect{|x| x.user.username}.join(','), :challenge_id => @challenge.id) %>
<% end %>

<%= render :partial => 'attempts_table', :locals => {:attempts => @challenge.attempts} %>

<%= render :partial => 'reviewing' if @challenge.reviewing? %>
