<%= form_for [@challenge, attempt] do |f| %>
  <div><label>Repository URL</label><%= f.text_field :repository_url %></div>
  <div><label>Description</label><%= f.text_area :description %></div>
  <div><label>Language</label><%= f.select :language_id, options_for_select(Language.all.collect{|x| [x.name, x.id]}, f.object.language_id) %></div>
  <div><%= f.submit 'Submit' %> or <%= link_to 'Cancel', @challenge %></div>
<% end %>