<h1>Attempt on <%= @attempt.challenge.title %> by <%= @attempt.user.name %></h1>

Repository: <%= @attempt.repository_url %>

<p><%= raw markdown(@attempt.description) %></p>

<% if current_user.reviewer? and review = current_user.reviewing?(@attempt) %>
  <h2>Review</h2>
  
  <%= form_for [@challenge, @attempt, review] do |f| %>
    <div><label>Approve</label><%= f.radio_button :score, 1 %> Yes <%= f.radio_button :score, 0 %> No 
    <div><label>Comment</label><%= f.text_area :comment %></div>
    <div><%= f.submit 'Send' %></div>
  <% end %>
<% end %>

<% if current_user.judge? and judging = current_user.judging?(@attempt) %>
  <h2>Review</h2>
  
  <%= form_for [@challenge, @attempt, judging] do |f| %>
    <div><label>Technology Score (1-10)</label><%= f.text_field :score %></div>
    <div><label>Originality/Innovation (1-10)</label><%= f.text_field :score2 %></div>
    <div><label>Practicality (1-10)</label><%= f.text_field :score3 %></div>
    <div><label>Completeness (1-10)</label><%= f.text_field :score4 %></div>
    <div><label>Comment</label><%= f.text_area :comment %><br/>Your comment will be sent to the user</div>
    <div><%= f.submit 'Send' %></div>
  <% end %>
<% end %>

<% if @attempt.challenge.open_for_comments? %>

  <p>
    Public votes: <%= @attempt.votes_count %> 
    <% unless logged_in? and @attempt.votes.where(:user_id => current_user.id) %>
      <%= link_to 'VOTE UP!', [@attempt.challenge, @attempt, Vote.new], :method => :post %>
    <% else %>
      (you have voted)
    <% end %>
  </p>

  <h2>Comments</h2>
  
  <%= render :partial => 'disqus' %>
<% end %>