<%= render 'nav' %>

<table width="100%">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Roles</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, [:admin, user] %> (<%= user.username %>)</td>
      <td><%= user.email %></td>
      <td>
        <%= user.admin? ? 'Admin' : '' %>
        <%= user.judge? ? 'Judge' : '' %>
        <%= user.reviewer? ? 'Reviewer' : '' %>
      </td>
    </tr>
  <% end %>
</table>
