<%= render :partial => 'nav' %>

<h1><%= @user.try(:name) %> (<%= @user.username %>)</h1>

<p><%= link_to 'Send a message', new_message_path(:recipient => @user.username) %>

<h2>Roles</h2>

<%= form_for [:admin, @user] do |f| %>
  <%= f.check_box :admin %> Admin
  <%= f.check_box :judge %> Judge
  <%= f.check_box :reviewer %> Reviewer
  <%= f.submit 'save' %>
<% end %>

<h2>Challenges created</h2>

<%= render :partial => 'admin/challenges/challenges_table', :locals => {:challenges => @user.challenges} %>

<h2>Challenge attempts</h2>

<%= render :partial => 'admin/challenges/attempts_table', :locals => {:attempts => @user.attempts} %>

<% if @user.reviewer? %>
  <h2>Pending Reviews (<%= @user.reviews.pending.count %>)</h2>
  
  <% @user.reviews.pending.each do |review| %>
    <div><%= "Attempt #{review.attempt.id}" %> on <%= link_to review.challenge.title, [:admin, review.challenge] %></div>
  <% end %>
<% end %>